:root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    --text-main: rgb(153, 153, 153);
    --text-black: rgb(23, 23, 23);
    --text-active: rgb(230, 66, 40);
    --text-op: #5a5a5a;
    --text-blur: #5e5e5ea1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html *::-webkit-scrollbar {
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    .tippy-box {
        background-color: #fff;
        color: #333;
        border-radius: 12px;
        // padding: 16px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
        font-weight: 500;
        line-height: 2.2rem;
        // max-width: 320px;
        transition: all 0.3s ease;
    }

    .tippy-arrow {
        color: #fff;
    }

    .tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
        top: -8px;
    }

    .tippy-box[data-theme~="custom"] {
        border: none;
    }
}
