.wrapper {
}

.section {
    background: white;
    border-radius: 8px;
    padding: 1.6rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;

    // header Page 1
    .header_left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-bottom: 1rem;
        .header_layer {
            display: flex;
            align-items: center;
            gap: 1.2rem;
        }

        .header_left-navigator {
            font-weight: bold;
        }

        .add-btn_navigator {
            border-radius: 8px;
            padding: 6px 10px;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
        }
    }

    .template-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f8f9fa;
        padding: 0.75rem;
        border-radius: 6px;
        margin: 1rem 0;

        .template-box_group {
            display: flex;
            align-items: center;
            gap: 12px;
            .template-box_preview {
                width: 50px;
                height: 60px;
                background-color: var(--text-blur);
            }

            .template-box_title {
            }
        }

        .template-label {
            font-size: 12px;
            color: #888;
            margin-bottom: 2px;
        }
        .template-label-title {
            font-size: 1.4rem;
        }
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f1f3f5;
        padding: 0.5rem 0.75rem;
        border-radius: 6px;
        margin-top: 1rem;
        font-size: 14px;
        color: #333;

        .icon {
            margin-right: 0.5rem;
            color: var(--text-op);
            font-size: 1.3rem;
            transform: rotate(90deg);
        }

        &.active {
            background: var(--text-active);
            color: white;

            .icon,
            .dot {
                color: white;
            }
        }

        .dot {
            font-size: 14px;
            cursor: pointer;
            color: #888;
        }
    }

    // Navigator Page 2
    .navigator {
        background: white;
        border-radius: 8px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 1rem;

            .add-btn {
                font-size: 13px;
                background: #f1f3f5;
                border: none;
                padding: 4px 8px;
                border-radius: 6px;
                cursor: pointer;
            }
        }

        .page-list {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 20px;

            .page-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 1rem;
                border-radius: 6px;
                font-size: 14px;
                margin-bottom: 6px;
                transition: background 0.2s;
                cursor: pointer;
                &.active {
                    background: #0a2540;
                    color: white;

                    .icon {
                        color: white;
                    }
                }

                .left {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .drag-icon {
                        cursor: grab;
                        font-size: 14px;
                        opacity: 0.5;
                    }

                    .thumbnail {
                        width: 40px;
                        height: 54px;
                        background: #f5f5f5;
                        border-radius: 4px;
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .icon {
                        font-size: 14px;
                        color: #999;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    // Styling Page 3
    .styling-section {
        background: #fff;
        border-radius: 8px;
        font-size: 14px;
        color: #333;

        .branding {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #f8f9fa;
            padding: 1rem;
            border-radius: 6px;
            margin-bottom: 1rem;

            .logo-placeholder {
                background: #eee;
                border-radius: 4px;
                padding: 0.5rem 1rem;
                font-size: 13px;
                color: #666;
            }
        }

        .styling-options {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 14px;

            .row {
                display: grid;
                grid-template-columns: 80px 1fr; // 1 cột label, 1 cột input-box
                align-items: center;
                gap: 0.75rem; // khoảng cách giữa label và input-box

                label {
                    font-size: 14px;
                    color: var(--dark-main);
                    font-weight: bold;
                }

                .input-box {
                    width: 100%;
                    padding: 0.5rem 0.75rem;
                    background-color: #f5f7f9;
                    border-radius: 6px;
                    color: #333;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    min-height: 38px; // cho đều chiều cao nếu nội dung khác nhau

                    &.with-color {
                        font-weight: 500;
                    }

                    .color-dot {
                        width: 18px;
                        height: 18px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}

.change-btn {
    border: none;
    color: var(--text-active);
    font-size: 13px;
    padding: 0.6rem 0.8rem;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;

    .change-btn-ic {
        transform: rotate(90deg);
    }
}

.add-btn {
    background: #f1f3f5;
    border: none;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #e0e3e6;
    }
}
